.headerContainer{
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 2px solid var(--gray-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 2px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}

@media (max-width: 994px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    height: 7rem;
    

    padding: 1rem;

    img {
      margin-top: 1rem;
    }

    p {
      border-left: none;
    }

    span {
      margin-top: -6rem;
      margin-left: auto
    }
  }
}